{% extends 'base.html' %}
{% load static %}

{% block "head" %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block "title" %}
    Login
{% endblock %}

{% block content %}
<section class="card">
    <h2>Login</h2>
    
    <form action="{% url 'accounts:login' %}" method="POST">{% csrf_token %}
        <input type="text" name="username" placeholder="Nome de Usuário">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Senha">
        <input type="submit" value="Logar">
    </form>
</section>
    
{% endblock content %}