:root {
    --primary: #ff096c;
    --secondary: #232323;
    --three: #2a3843;
    --four: #4f6172;
    --white: #f9f9f9;
}

body {
    display: grid;
    flex: 1 1 100vw;
    place-items: center;
    background: var(--secondary);
    overflow-x: hidden;
    color: var(--four);
    transition: 200ms ease-in-out;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    background: var(--primary);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}