:root {
    --primary: #ff096c;
    --secondary: #232323;
    --three: #2a3843;
    --four: #4f6172;
    --white: #f9f9f9;
}

body {
    display: grid;
    place-items: center;
    background: var(--secondary);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: var(--four);
    transition: 200ms ease-in-out;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    background: var(--primary);
    color: var(--white);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    & li a {
        color: var(--white);
        padding: 0.7em;
    }
}